.Rproj.user
.Rhistory
.RData
.Ruserdata

# knitr and R markdown default cache directories
/*_cache/
/cache/
*/*_cache/

*.sas7bdat

vignettes/do_not_commit.Rmd
vignettes/ae_profile.csv
vignettes/scen.csv
vignettes/scen_old.csv
vignettes/scen_days.csv
vignettes/*.html
run_remote.md
.vscode

